.FA-icon {
    cursor: pointer;
}

.nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10%;
    border-bottom: 0.2rem solid yellowgreen;
}



.nav-links {
    display: flex;
    align-items: center;

}

.nav-mobile {
    display: none;
}

.nav-links li {
    list-style: none;
    margin: 0 20px;
    text-transform: uppercase;
}

.logo {
    z-index: -5;
    font-size: 1.5rem;
    font-weight: 900;
    color: yellowgreen;
}

.nav-icons>* {
    margin: 0 1.3rem;
}

.nav-btn-menu {
    display: none;
}

@media screen and (max-width:1300px) {
    .nav {
        padding: 1.5rem 5%;
    }

    .nav-icons>* {
        margin: 0 0.7rem;
    }

}

@media screen and (max-width:1024px) {
    .nav {
        padding: 1.5rem 1%;
    }

}

@media screen and (max-width:890px) {
    .nav * {
        font-size: 0.9em;
    }

}

@media screen and (max-width:660px) {
    .nav {
        justify-content: flex-end;
        font-size: 2em;
        padding: 1rem 2%;
    }

    .nav-btn-menu {
        display: inline-block;
        font-size: 1.5rem;
        cursor: pointer;

    }

    .nav-links {
        display: none;
    }

    .nav-icons>.nav-btn-user,
    .nav-icons>.nav-btn-wishlist {
        display: none;
    }

    .nav-icons>* {
        margin: 0 0.4rem;
    }

    .nav-icons {
        margin: 0 0.4rem;
    }

    .logo {
        position: absolute;
        left: 0.4rem;

    }

    /* mobile nav menu */

    .nav-mobile {
        position: absolute;
        width: 40%;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: yellowgreen;
        padding: 2rem;
    }


    .nav-menu-showed {
        display: block;
    }

    .nav-mobile li {
        list-style: none;
    }

    .nav-mobile>.icon-row {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
    }
}