.FA-icon {
    cursor: pointer;
    transition: var(--ss-tran-primary);
}

.FA-icon:hover {
    transform: scale(1.2);
    transition: var(--ss-tran-primary);
    color: var(--ss-color-primary);
}

.nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 10%;
    border-bottom: 0.2rem solid var(--ss-color-primary);
}



.nav-links {
    display: flex;
    align-items: center;

}

.nav-mobile {
    display: none;
}

.nav-links li {
    list-style: none;
    margin: 0 20px;
    text-transform: uppercase;
    transition: var(--ss-tran-primary);
    cursor: pointer;
}

.nav-links li:hover {
    box-sizing: border-box;
    transform: scale(1.2);
    /* transform: scale(1.1); */
    color: var(--ss-color-primary);

}

.logo {
    z-index: -5;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(var(--ss-color-primary));
}

.nav-icons>* {
    margin: 0 1.3rem;
}

.nav-btn-menu {
    display: none;
}

@media screen and (max-width:1300px) {
    .nav {
        padding: 1.5rem 5%;
    }

    .nav-icons>* {
        margin: 0 0.7rem;
    }

}

@media screen and (max-width:1024px) {
    .nav {
        padding: 1.5rem 1%;
    }

}

@media screen and (max-width:890px) {

    /* .nav * {
        font-size: 0.9em;
    } */
    .nav-links li {
        margin: 0 10px;
    }


}

@media screen and (max-width:690px) {
    .nav {
        justify-content: flex-end;
        font-size: 2em;
        padding: 1rem 2%;
    }

    .nav-btn-menu {
        display: inline-block;
        font-size: 1rem;
        cursor: pointer;

    }

    .nav-links {
        display: none;
    }

    .nav-icons>.nav-btn-user,
    .nav-icons>.nav-btn-wishlist {
        display: none;
    }

    .nav-icons>* {
        margin: 0 0.4rem;
    }

    .nav-icons {
        margin: 0 0.4rem;
    }

    .logo {
        position: absolute;
        left: 0.4rem;

    }

    /* mobile nav menu */

    .nav-mobile {
        position: absolute;
        width: 40%;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: var(--ss-color-primary);
        padding: 2rem;
        z-index: 5;
        transition: 1s;
    }


    .nav-menu-showed {

        display: block;
        transition: 1s;

    }

    .nav-mobile li {
        list-style: none;
        transition: var(--ss-tran-primary);
        cursor: pointer;
    }

    .nav-mobile li:hover {
        transform: scale(1.1);
        color: white;
    }

    .nav-mobile>.icon-row {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .nav-mobile .FA-icon:hover {
        transform: scale(1.2);
        transition: var(--ss-tran-primary);
        color: white;
    }

}